body{
    padding: 0px;
    margin: 0px;
}

a{
    font-family: "Funnel Sans", sans-serif;
    text-decoration: none;
}


.section-1{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    padding: 50px;
    margin: 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}


.logo-linkedin2{
    height: 30px;
    height: 30px;
}





.logo-github2{
    height: 30px;
    width: 30px;
}

.nav-left a{
    margin: 10px;
    margin-left: 20px;
}


.nav-right a{
    margin: 10px;
    text-decoration: none;
    margin-right: 50px;
    color: black;
    font-size: 20px;
}

.contact-1 {
    border-color: #099A68;
    border-width:2px;
    padding: 15px;
    border-radius: 10px;
    border-style: solid;
    
}

.contact-1:hover{
    background-color: #099A68;
    color: white;
}





.custom-h2{
    font-size: 40px;
    font-family: "Host Grotesk", sans-serif;
    color: #099A68;
    animation: bonjour-jesuis 3s;
}

.custom-h1{
    font-size: 80px;
    font-family: "Rubik", sans-serif;
    animation: bonjour-jesuis 2s;

    color: #152731;
}

.custom-alain{
    color: #099A68;
    font-family:"Rubik", sans-serif ;
}


.maphoto-1{
    width: 50%;
    height: auto;
    margin-right: 90px;
    animation: photo 3s;
}
.container{
    margin-top: 50px;

}

.div-photo-bonjour{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}

.devel-1{
    font-size: 30px;
    margin-left: 20px;
}

.contact-2 {
    text-decoration: none;
    color: white;
    background-color: #099A68;
    padding: 15px;
    border-radius: 10px;
    margin-left: 100px;

}

.contact-2:hover{
    color: #099A68;
    background-color: white;
    border-color: #099A68;
    border-width: 2px;
    border-style:solid ;
}


.custom-apropos {
    font-size: 50px;
    color: #099A68;
    font-family:"Rubik", sans-serif  ;
    font-weight: bold;
}


.img-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maphoto-2{
    width: 30%;
    height: auto;
}


.div-download{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-cv{
    text-decoration: none;
    text-align: center;
    background-color:#099A68;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
}


.h-skills{
    font-size: 50px;
    font-weight: bold;
    font-family:"Rubik", sans-serif ;
    color: #099A68;
}


.custom-skills-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.Front{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    padding: 50px;
    margin-right: 80px;
}

.Front p{
    color: #585858;
    margin-top: 25px;
}

.Back p{
    color: #585858;
    margin-top: 25px;
}


.Back{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    padding: 50px;
    margin-left: 80px;
}


.svg{
    width: 30px;
    height: 30px;
}

.svg-django{
    width: 80px;
    height: 80px;
}


.UI-UX{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    padding: 50px;
    margin-right: 80px;
}

.UI-UX p{
    color: #585858;
    margin-top: 25px;
}


.Framework{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    padding: 50px;
    margin-left: 80px;
}

.Framework p{
    color: #585858;
    margin-top: 25px;
}

.text-frame{
    color: #152731;
    font-weight: bold;
}

.text-ui{
    font-weight: bold;
}

.text-back{
    font-weight: bold;
    color: #152731;
}

.text-front{
    font-weight: bold;
}

.custom-realisations{
    color: #099A68;
    font-family:"Rubik", sans-serif ;
    margin-top: 100px;
    font-weight: bold;
    font-size: 50px;
}

.custom-foot{
    background-color: #152731;
    padding: 10px;
    

}

.foot-foot{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.foot-foot p{
    margin-left: 150px;
}
.foot-foot p{
    margin-right: 150px;
    margin-top: 50px;
}


.foot-foot a{
    
    margin-left: 150px;
    color: white;
}
.foot-foot a{
    margin-right: 150px;
}

.foot-foot ul{
    margin-top: 30px;
}

.navigation{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.cont-me{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.cg{
    display: none;
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.fou a{
    text-decoration: none;
}

.fou li{
    margin: 10px;
}

.fou ul{
    list-style-type: none;
}

.four li{
    margin: 10px;
}

.four ul li a{
    text-decoration: none;
}

.four ul{
    list-style-type: none;
}

.four {
    color: #099A68;
}

.svgs{
    width: 20px;
    height: 20px;
}

.cc{
    color: rgb(131, 128, 128);
    text-align: center;
}

.custom-reseaux{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.custom-reseaux a{
    margin-left: 20px;
}

.custom-suivez{
    color: white;
    margin-top: 20px;
}

.custom-reseaux ul{
    display: flex;
    list-style-type : none;
}




.cus-cus{
    background-color: #152731;
    padding: 10px;
    width: 400px;
    height: 400px;
    border-radius: 40px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);

    

}

.cu-cu a{
    text-decoration: none;
}
 .cu-cu ul li{

    list-style-type: none;
    margin: 50px;
    margin-top: 70px;
 }

.cu-cu a{

    color: rgb(255, 255, 255);
}


@keyframes photo{
    from{
        transform: translateY(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes bonjour-jesuis{
    from{
        transform: translateY(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}


















@media screen and  (max-width:720px) {

    .section-1{
        margin: 0px;
        border-radius: 0px;
        box-shadow: none;
    }

    .nav-left{
        display: none;
    }

    .nav-right{
        display: none;
    }

    .div-photo-bonjour{
        display: block;
        margin-left: 0px;
        margin-top: 0px;

    }




    .maphoto-1{
        width: 50%;
        height: auto;
        margin-left:150px;
    }

    .custom-h1{
        text-align: center;
    }

    .custom-h2{
        text-align: center;
    }

    .devel-1{
        text-align: center;
    }
    .contact-2{
        margin-left: 0px;
    }
    .vcc{
        text-align: center;
    }

    .custom-skills-2{
        display: block;
        align-items: center;
    }

    .h-skills{
        text-align: center;
    }

    .Front{
        padding: 30px;
        margin-right: 0px;
        margin-top: 50px;
    }
    
    .Front p{
        color: #585858;
        margin-top: 10px;
    }
    
    .Back p{
        color: #585858;
        margin-top: 10px;
    }
    
    
    .Back{
        margin-top: 50px;
        padding: 30px;
        margin-left: 0px;
    }


    .UI-UX{
        background-color: rgb(255, 255, 255);
        border-radius: 50px;
        box-shadow: 5px 10px 30px rgb(168, 167, 167);
        padding: 50px;
        margin-right: 0px;
    }
    
    .UI-UX p{
        color: #585858;
        margin-top: 10px;
    }
    
    
    .Framework{
        margin-top: 50px;
        margin-left: 0px;
    }
    
    .Framework p{
        color: #585858;
        margin-top: 10px;
    }

    
    .foot-foot{
    display:block;
    flex-direction: row;
    justify-content: center;
    }


    .foot-foot p{
        margin-left: 0px;
        text-align: center;
    }
    .foot-foot p{
        margin-right: 0px;
        margin-top: 0px;
    }
    
    
    .foot-foot a{
        text-align: center;
        margin-left: 0px;
        color: white;
    }
    .foot-foot a{
        margin-right: 0px;
    }
    
    .foot-foot ul{
        margin-top: 0px;
    }

    .cg{
        display: block;
    }

    .navigation{
        display: none;
    }

    .cont-me{
        display: none;
    }

    .containe{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: rgb(15, 15, 15);
        padding-bottom: 20px;
    
    }
}



.menu-burger{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top:20px;
}

.logo-linkedin{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.logo-github{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.containe{
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 15);
    padding-bottom: 20px;

}

.logo-right{
    display: flex;
    gap: 15px;
    margin-right: 20px;
}


