body{
    padding: 0px;
    margin: 0px;
    color: black;

}

a{
    text-decoration: none;
}

.menuformobile ul li{
    color: #ffffff;
    margin: 10px;
    text-align: center;
}



.menuformobile{
    z-index: 300px;
    padding: 10px;
    color: #FFFFFF;
    position: relative;
    top: 10px;
    left: 5%;
    width: 300px;
    height: 150px;
    border-radius: 20px;
    background-color: rgba(170, 25, 25, 0.267);
    opacity: 10;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    display: none;
    margin-bottom: 20px;

}



.homemobile{
    color: #000000;
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}



.aproposmobile{
    color: #000000;
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}



.realisationsmobile{
    color: #000000;
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}



.Contactmobile{
    color: #099A68;
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
}


.burger{
    display: none;
}

.lik{
    display: none;

}


.divburger{
    display: flex;
}


.github{
    width: 20px;
    height: 20px;
    padding-left:0px ;
}

.linkedin{
    width: 20px;
    height: 20px;
}

.navprin{
    background-color: #FFFFFF;
    margin: 50px;
    height: 530px;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
}

li{
    list-style:none ;
}

nav ul li a{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-size: 20px;
    color: black;

}

nav ul li :hover{
    color:#099A68;
}


nav ul  {
    margin-left: 500px;
}
nav ul li {
    margin-left: 30px;
}

nav ul{
    display: flex;
}


.ligithub{
    transform: translate(-510px);
}



.lilinkedin{
    transform: translate(-410px);
    margin-left: -30px;
}

.Contact{
    color: #ffffff;
    background-color: #099A68;
    padding: 15px;
    border-radius: 10px;
}

.Contact:hover{
    color:#099A68;
    background-color: white;
    border-color: #099A68;
    border-width:3px ;
    border-style: solid;
}



.Hello{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-size: 30px;
    color: #099A68;
    margin-left: 50px;
    margin-top: 100px;
    animation: hello 0.3s;
}

.jesuisphoto{
    display: flex;
}

.Myphoto{
    position: relative;
    bottom: 50px;
    height: 450px;
    width: 450px;
    margin-left:200px;
    margin-top: -100px;
    animation: slidephoto 3s;
}

.Jesuis{
    color: #152731;
    font-size: 80px;
    margin-left: 50px;
    margin-top: -40px;
    animation: Jesuis 3s;
    
}

.Alain{
    color: #099A68;
}

.Developpeur{
    font-family: 'Calibri Light (Headings)', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    margin-top: -180px;
    margin-left: 50px;
    color: #152731;
    font-size: 30px;
    animation: Jesuis 3s;
}

.Contact2{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    margin-top: 100px;
    margin-left: 150px;
    color: white;
    background-color: #099A68;
    padding:15px ;
    border-radius:10px;
    animation: Jesuis 5s;

}

.Contact2:hover{
    box-shadow: 10px 10px 60px #099a67ab;
}


.About{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: #099A68;

}

.maphoto{
    width: 370px;
    height: 370px;
    margin-left: 50px;
}



.fullname{
    font-family: 'Calibri Light (Headings)', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    color: #152731;
    margin-left: 150px;

}

.nana{
    display: flex;

}

.identity{
    background-color: white;
    width: 560px;
    height: 180px;
    box-shadow:  5px 10px 30px rgb(168, 167, 167);
    border-radius: 40px;
    padding: 20px;
    transform: translateX(580px);
    margin-top: -130px;
}

.ident{
    display: flex;
    margin-left: 20px;
}

.name{
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
}

.postname{
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
    margin-left: 150px;
}

.firstname{
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
}

.age{
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
    margin-left: 130px;
}

.adresse{
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
}

.experience{
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
    margin-left: 35px;

}

.Katayi{
    color: #099A68;
}

.kayembe{
    color: #099A68;
}

.ans{
    color: #099A68;
}

.exp{
    color: #099A68;
}

.kinshasa{
    color: #099A68;
}

.alain{
    color: #099A68;
}

.Telecharger{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    text-decoration: none;
    background-color: #099A68;
    color: white;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    top: 30px;
    margin-left: 1040px;
}

.Purview{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #099A68;
    font-size: 50px;
    margin: 80px;
    text-align: center;
   
}

.technology{
    text-align: center;
    font-size: 25px;
}

.frontback{
    display: flex;
    margin-left: 80px;


}

.front{
    padding: 30px;
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
}

.back{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    margin-left: 80px;
}

.hfront{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #152731;
    font-size: 30px;
}

.pfront{
    font-family: 'Calibri Light (Headings)', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    color: #585858;
    position: relative;
    bottom: 60px;
}

.logohtml{
    position: relative;
    left: -40px;
    bottom: 40px;
    width: 150px;
    height: 150px;
}

.logocss{
    position: relative;
    bottom: 40px;
    left: -150px;
    width: 150px;
    height: 150px;
}

.logojs{
    position: relative;
    left: -260px;
    bottom: 40px;
    width: 150px;
    height: 150px;
}

.hback{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #152731;
    position: relative;
    left: 20px;
    font-size: 30px;
}

.pback{
    font-family: 'Calibri Light (Headings)', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    color: #585858;
    position: relative;
    bottom: 60px;
}

.logopython{
    position: relative;
    left: -40px;
    bottom: 40px;
    height: 150px;
    width: 150px;

}

.logodjango{
    position: relative;
    left: -150px;
    bottom: 40px;
    height: 150px;
    width: 150px;


}


.uxframework{
    display: flex;
    margin-left: 80px;
    margin-top: 80px;
}


.ux{
    padding: 30px;
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
}


.framework{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    margin-left: 80px;
}


.huiux{
    position: relative;
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #152731;
    font-size: 30px;

}

.pux{
    font-family: 'Calibri Light (Headings)', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    color: #585858;
    position: relative;
    bottom: 60px;
}


.logoxd{
    position: relative;
    left: -40px;
    bottom: 30px;
    width: 150px;
    height: 150px;
 
}

.logophotoshop{
    position: relative;
    left: -120px;
    bottom: 30px;
    width: 150px;
    height: 150px;

}

.logoillustrator{
    position: relative;
    left: -200px;
    bottom: 30px;
    width: 150px;
    height: 150px;

}

.hframework{    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #152731;
    font-size: 30px;
    position: relative;
    left: 20px;
}

.pframe{
    font-family: 'Calibri Light (Headings)', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    color: #585858;
    position: relative;
    bottom: 400px;
}

.logoboostrap{
    position: relative;
    left: -40px;
    bottom: 30px;
    width: 150px;
    height: 150px;
}

.portfolio{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: #099A68;
}

.alerte{
    width: 350px;
    height: 350px;
    position: relative;
    left: 500px;
}

.const{
    color: red;
    text-align: center;
}


.foot{
    background-color: #152731;
    padding: 20px;
}


.navigation{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: white;
    margin-left: 60px;
}

.link a{
    font-size: 20px;
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    color: rgb(167, 161, 161);
    margin-left: 60px;
    
    
}

.link a:hover{
    color: white;
}

.about{
    position: relative;
    top: 10px;
}

.mesrea{
    position: relative;
    top: 15px;
}

.cont{
    position: relative;
    top: 20px;
}

.skill{
    position: relative;
    top: 30px;
}


.suivez{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}


.suivezmoi li:hover{
    background-color: rgba(255, 255, 255, 0.548);
    border-radius:10px;
}


.suivezmoi ul{
    display: flex;
    justify-content: center;
 

}

.facebooklogo{
    width: 30px;
    height: 30px;
    margin: 10px;

}
.twitterlogo{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.tiktoklogo{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.linkedinlogo{
    width: 30px;
    height: 30px;
    margin: 10px;

}

.copyrigth{
    text-align: center;
    color: rgb(112, 106, 106);
}


#overlay { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.877);
    display: none;
}


#popup {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    height: 300px;
    width: 500px;
    display: none;
}

#popupContent {
    background-color: #007bff;
}

#fermerButton {
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #152731;
    color: white;
    border-radius:10px ;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    left: 200px;
    top: 60px;
}


.enveloppe{
    position: relative;
    left: 60px;
    width: 30px;
    height: 30px;
    top: 10px;
}

.telephone{
    position: relative;
    left: 60px;
    top: 30px;
    width: 30px;
    height: 30px;

}

.whatsapp{
    position: relative;
    left: 60px;
    top: 40px;
    width: 30px;
    height: 30px;
}


.contme{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #152731;
    font-size: 30px;
    text-align: center;
}

.mail{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    text-decoration: none;
    color: #099A68;
    font-size: 20px;
    position: relative;
    left: 100px;
}

.phone{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    text-decoration: none;
    color: #099A68;
    font-size: 20px;
    position: relative;
    left: 100px;
    top: 20px;
}

.what{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    text-decoration: none;
    color: #099A68;
    font-size: 20px;
    position: relative;
    left: 100px;
    top: 30px;
}


/* espaces keyframes */

@keyframes slidephoto{
    from{
        transform: translateY(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes Jesuis{
    from{
        transform: translateX(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes hello{
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slidehello{
    from{
        transform: translateY(-200);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 2;
    }
}


/*@media screen  and (max-width:1292px) {
    .navprin{
        
        width: 1245px;
    }
}
@media screen  and (max-width:1272px) {
    .navprin{
        
        width: 1225px;
    }
}*/

@media screen and (max-width: 1290px) {
    #popup {

        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);

    }
    .Myphoto{
        margin-left:100px;
    }

    .front{

        width: 450px;
        height: 400px;
    }
    
    .back{
        width: 450px;
        height: 400px;
    }

    .pfront{
        bottom: 200px;
    }


    .ux{
        width: 450px;
        height: 400px;
    }

    .pux{
        bottom: 230px;
    }
    
    .framework{
        width: 450px;
        height: 400px;
    }

    .logoillustrator{
        padding-left: 330px;
        bottom: 180px;
    }
    
}



@media screen and (max-width:1226px){
    nav ul  {
        margin-left: 400px;
    }

    .ligithub{
        transform: translate(-410px);
    }
    
    .lilinkedin{
        transform: translate(-310px);
        margin-left: -30px;
    }

    .fullname{
        margin-left: 100px;
    }

    .identity{
        transform: translateX(510px);

    }

    .Telecharger{

        margin-left: 970px;
    
    }
}



@media screen and (max-width:1190px){
    .Myphoto{
        width: 400px;
        height: 400px;
    }

    .Developpeur{
        margin-top: -120px;
    }
    .fullname{
        margin-left: 80px;
    }

    .identity{
        transform: translateX(500px);
    }

    .Telecharger{
        margin-left: 940px;
    }

    .back{

    margin-left: 50px;
    }
    
    .framework{

        margin-left: 50px;
    }

}




@media screen and (max-width:1140px){

    .Myphoto{
        width:350px ;
        height:350px ;
        top:30px ;
    }

    .Developpeur{
        margin-top: -80px;
    }

    .fullname{
        margin-left: 50px;
    }

    .identity{
        transform: translateX(460px);
    }


    .front{

        width: 400px;
        height: 350px;
    }
    
    .back{
        width: 400px;
        height: 350px;
    }

    .ux{

        width: 400px;
        height: 350px;

    }
    .framework{

        width: 400px;
        height: 350px;

    }

    .pfront{
        bottom: 250px;
    }
    .pux{
        bottom: 250px;
    }

    .pframe{
        bottom: 380px;
    }
    .pback{
        bottom: 95px;
    }

}




@media screen and (max-width:1122px){
    nav ul  {
        margin-left: 350px;
    }
    nav ul li {
        margin-left: 30px;
    }

    
    .ligithub{
        transform: translate(-370px);
    }
    
    .lilinkedin{
        transform: translate(-290px);
        margin-left: -30px;
    }

    .Telecharger{
        margin-left: 910px;
    }

}




@media screen  and (max-width:1082px){
    .Myphoto{
        width: 300px ;
        height: 300px;
    }
    .Developpeur{
        margin-top: -30px;
    }

    .maphoto{
        width: 300px;
        height: 300px;
    }

    .fullname{
        font-size: 15px;
        margin-left: 80px;
    }

    .identity{

        width: 510px;
        height: 180px;
        transform: translateX(420px);
        margin-top: -100px;
    }

    .Telecharger{

        margin-left: 830px;
    
    }

}




@media screen and (max-width:1088px){
    .Myphoto{
        width: 300px;
        height: 300px;
        margin-left:200px;
    }

    .Jesuis{
        font-size: 70px;
    }

    .Developpeur{
        margin-top: -30px;
    }

    .maphoto{
        width: 300px;
        height: 300px;
    }

    .identity{
        width: 500px;
        height: 180px;
        transform: translateX(400px);
        margin-top: -80px;
    }

    .Telecharger{
        margin-left: 800px;
    }
}




@media screen and (max-width:1084px){

    .Myphoto{
        width: 300px;
        height: 300px;
        margin-left:180px;
    }
}



@media screen and (max-width:1074px){
    nav ul  {
        margin-left: 300px;
    }

    .ligithub{
        transform: translate(-310px);
    }
    
    
    
    .lilinkedin{
        transform: translate(-230px);
        margin-left: -30px;
    }
}




@media screen and (max-width:1064px){
    .Myphoto{

        margin-left:150px;
    }
}



@media screen and (max-width:1034px){
    .Myphoto{
        margin-left:130px;
    }

    .frontback{
        margin-left: 30px;
    }

    .uxframework{
        margin-left: 30px;
    }

}



@media screen and (max-width:1026px){
    nav ul  {
        margin-left: 280px;
    }

    .ligithub{
        transform: translate(-310px);
    }
    
    .lilinkedin{
        transform: translate(-230px);
        margin-left: -30px;
    }
}

@media screen and (max-width:1014px){
    .Myphoto{
        margin-left:120px;
    }

    
    .fullname{
        font-size: 15px;
        margin-left: 60px;
    }
}




@media screen and (max-width:1004px){
    nav ul  {
        margin-left: 240px;
    }

    .Myphoto{
        margin-left:110px;
    }
}



@media screen and (max-width:996px){
    nav ul  {
        margin-left: 260px;
    }

    .Myphoto{
        margin-left:100px;
    }

    .fullname{
        font-size: 15px;
        margin-left: 30px;
    }

    .identity{
        transform: translateX(380px);
    }

    .Telecharger{
        margin-left: 780px;
    }

    .frontback{
        display: block;
        margin-left: 80px;
    }

    .back{
        margin-left: 0px;
    }

    .front{
        margin: 80px;
        padding: 50px;
        width: 500px;
        height: 400px;

    }
    
    .back{
        margin: 80px;
        padding: 50px;
        width: 500px;
        height: 400px;

    }

    .uxframework{
        display: block;
        margin-left: 80px;

    }
    
    .ux{
        margin: 80px;
        padding: 50px;
        width: 500px;
        height: 400px;
    }
    
    .framework{
        margin: 80px;
        padding: 50px;
        width: 500px;
        height: 400px;
    }
    
    .pfront{
        bottom: 100px;
    }
}


@media screen and (max-width:986px){
    nav ul  {
        margin-left: 230px;
    }

    .Myphoto{
        margin-left:80px;
    }

    
    .ligithub{
        transform: translate(-260px);
    }
    
    .lilinkedin{
        transform: translate(-200px);
        margin-left: -30px;
    }

    .uxframework{
        display: block;
        margin-left: 130px;

    }   

    
    .frontback{
        display: block;
        margin-left: 130px;
    }
}

@media screen and (max-width:966px){
    .Myphoto{
        margin-left:60px;
    }
}


@media screen and (max-width:960px){
    .Myphoto{
        margin-left:60px;
    }

    .fullname{
        font-size: 15px;
        margin-left: 10px;
    }
}

@media screen and (max-width:950px){
    nav ul  {
        margin-left: 210px;
    }
}

@media screen and (max-width:938px){
    .Myphoto{
        margin-left:50px;
    }
}

@media screen and (max-width:934px){
    nav ul  {
        margin-left: 200px;
    }

    .ligithub{
        transform: translate(-230px);
    }
    
    .lilinkedin{
        transform: translate(-150px);
        margin-left: -30px;
    }

    .Myphoto{
        margin-left:40px;
    }
}

@media screen and (max-width:924px){
    nav ul  {
        margin-left: 190px;
    }

    .Myphoto{
        margin-left:30px;
    }

    
    .identity{
        transform: translateX(350px);
    }

    .Telecharger{
        margin-left: 750px;
    }
}

@media screen and (max-width:916px){
    nav ul  {
        margin-left: 180px;
    }

    .Myphoto{
        margin-left:20px;
    }
}

@media screen and (max-width:906px){
    nav ul  {
        margin-left: 160px;
    }

    .ligithub{
        transform: translate(-180px);
    }
    
    .lilinkedin{
        transform: translate(-110px);
        margin-left: -30px;
    }

    .Myphoto{
        margin-left:15px;
    }
}

@media screen and (max-width:894px){

    .Myphoto{
        margin-left:40px;
    }
    .Jesuis{

        font-size: 60px;  
        margin-top: -15px;      
    }

    .identity{
        width: 480px;
        height: 180px;        
    }

    .Telecharger{
        margin-left: 730px;
    }   
}

@media screen and (max-width:896px){
    .Myphoto{
        margin-left:50px;
    }
}

@media screen and (max-width:886px){
    nav ul  {
        display: none;
    }

    .burger{
        margin-left: 5%;
        margin-top: 2%;
        z-index: 100;
        display: block;
        width: 50px;
        height: 50px;
 
    }

    .divburger a{
        justify-content: center;
    }


    .navprin{
        background-color: #FFFFFF;
        margin: 20px;
        height: 400px;
        padding: 20px;

  
    }

    .Hello{

        margin-top: 50px;

    }

    .maphoto{
        margin-left: 10px;
    }

    .identity{
        transform: translateX(320px);
    }

    .Telecharger{
        margin-left: 700px;
    }  
    
    
    .uxframework{
        display: block;
        margin-left: 80px;

    }   

    
    .frontback{
        display: block;
        margin-left: 80px;
    }

}

@media screen and (max-width:842px){
    .Myphoto{
        width: 250px;
        height: 250px;

    }

    .maphoto{
        width: 250px;
        height: 250px;
    }

    .identity{
        width: 480px;
        height: 150px;
        margin-top: -30px;    
        transform: translateX(270px);    
    }

    .Telecharger{
        margin-left: 650px;
    } 
    


    .name{

        position: relative;
        top: -10px;
    }
    
    .postname{

        margin-left: 150px;
        position: relative;
        top: -10px;
        
    }
    
    .firstname{

        position: relative;
        top: -20px;
    }
    
    .age{

        margin-left: 130px;
        position: relative;
        top: -20px;
    }
    
    .adresse{

        position: relative;
        top: -40px;
    }
    
    .experience{

        margin-left: 35px;
        position: relative;
        top: -40px;
    
    }
}


@media screen and (max-width:822px){
    .uxframework{
        display: block;
        margin-left: 50px;

    }   

    
    .frontback{
        display: block;
        margin-left: 50px;
    }
}

@media screen and (max-width:790px){
    .jesuisphoto{
        display: block;
    }


    .Jesuis{
        text-align: center;
        font-size: 90px;

    }

    .Hello{
        text-align: center;
        margin-top: 10px;
    }

    .navprin{
        background-color: #FFFFFF;
        margin: 20px;
        height: 600px;
        padding: 5px;
        border-radius: 25px;
    }

    .Myphoto{
        margin-left: 280px;
        margin-bottom: 50px;
    }

    .Developpeur{
        text-align: center;
        font-size: 30px;
    }

    .identity{

        margin-top: -5px;    
        transform: translateX(250px);    
    }

    .Telecharger{
        margin-left: 620px;
    } 

    .Contact2{
        margin-left: 340px;
    }
}

@media screen and (max-width:766px){

    .Jesuis{
        text-align: center;

    }

    .Hello{
        text-align: center;
        margin-top: 10px;
    }

    .navprin{
        background-color: #FFFFFF;
        margin: 20px;
        height: 600px;
        padding: 5px;
        border-radius: 25px;
    }

    .Myphoto{
        margin-left: 280px;

    }

    .Developpeur{
        text-align: center;
        font-size: 30px;
    }
    .nana{
        display: block;
    }

    .maphoto{
        margin-left: 260px;
    }

    .fullname{
        margin: 50px;
        
    }

    
    .identity{

        margin-top: -5px;    
        transform: translateX(80px);    
    }

    .Telecharger{
        margin-left: 450px;
    } 

    .uxframework{
        display: block;
        margin-left: 0px;

    }   

    
    .frontback{
        display: block;
        margin-left: 0px;
    }
}

@media screen and (max-width:720px){

    .Jesuis{
        text-align: center;

    }

    .Hello{
        text-align: center;
        margin-top: 10px;
    }

    .navprin{
        background-color: #FFFFFF;
        margin: 20px;
        height: 600px;
        padding: 5px;
        border-radius: 25px;
    }

    .Myphoto{
        margin-left: 220px;

    }

    .Developpeur{
        text-align: center;
        font-size: 30px;
    }

    .Contact2{
        margin-left: 280px;
    }

    .identity{
        transform: translateX(100px);  
    }

    .front{
        
        padding: 10px;
        margin-left: 0px;
    }

    .back{
        padding: 10px;
        margin-left: 0px;
    }

    .framework{
        padding: 10px;
        margin-left: 0px;
    }

    .ux{
        padding: 10px;
        margin-left: 0px;
    }


    .frontback{
        margin-left: 100px;
    }
    .pux{
        position: relative;
        text-align: left;
        margin-top: 40px;
        margin: 20px;
    }
    .pframe{
        margin: 20px;
        margin-top: -50px;
    }

    .pfront{
        margin:20px ;
    }

    .pback{
        margin: 20px;
    }

    .uxframework{
        margin-left: 100px;
    }
    .hfront{
        margin-left: 20px;
    }

}

@media screen and (max-width:674px){
    .Jesuis{
        text-align: center;

    }

    .Hello{
        text-align: center;
        margin-top: 10px;
    }

    .navprin{
        background-color: #FFFFFF;
        margin: 20px;
        height: 600px;
        padding: 5px;
        border-radius: 25px;
    }

    .Myphoto{
        margin-left: 220px;

    }

    .Developpeur{
        text-align: center;
        font-size: 30px;
    }
    .Contact2{
        margin-left: 300px;
    }
}

@media screen and (max-width:648px){
    .Jesuis{
        text-align: center;
        margin-left: 5px;
    }

    .Hello{
        text-align: center;
        margin-left: 0px;
    }

    .Developpeur{
        margin-left: 5px;
        margin-top: -180px;
    }

    .navprin{
        background-color: #FFFFFF;
        margin: 50px;
        height: 600px;
        padding: 10px;
    }

    .Myphoto{
        margin-left: 350px;
    }

    .Contact2{
        margin-left: 250px;
    }
}

@media screen and (max-width:635px){
    .Jesuis{
        text-align: center;

    }

    .Hello{
        text-align: center;
        margin-top: 10px;
    }

    .navprin{
        background-color: #FFFFFF;
        margin: 10px;
        height: 540px;
        padding: 5px;
        border-radius: 15px;
    }

    .Myphoto{
        margin-left: 350px;
    }

    .Developpeur{
        text-align: center;
        font-size: 30px;
    }
}

@media screen and (max-width:654px){

    .Jesuis{
        text-align: center;

    }

    .Hello{
        text-align: center;
        margin-top: 10px;
    }

    .navprin{
        background-color: #FFFFFF;
        margin: 20px;
        height: 640px;
        padding: 5px;
        border-radius: 25px;
    }

    .Myphoto{
        margin-left: 200px;
    }

    .Developpeur{
        margin-top: 0px;
        text-align: center;
        font-size: 30px;
    }


    
    .uxframework{
        margin-left:60px ;
    }

    .frontback{
        margin-left: 60px;
    }



    .maphoto{
        margin-left: 200px;
    }



}

@media screen and (max-width:636px){

    .Jesuis{
        font-size: 70px;
        text-align: center;
    }
    .identity{

        margin-top: -5px;    
        transform: translateX(50px);    
    }

    .Telecharger{
        margin-left: 420px;
    } 

    .Myphoto{

        margin-left: 30px;

    }

    .Contact2{
        margin-left: 200px;
    }
}

@media screen and (max-width:630px){
    .Jesuis{
        text-align: center;

    }

    .Hello{
        text-align: center;
        margin-top: 10px;
    }

    .navprin{
        background-color: #FFFFFF;
        margin: 10px;
        height: 540px;
        padding: 5px;
        border-radius: 15px;
    }

    .Myphoto{
        margin-left: 200px;
    }

    .Developpeur{
        text-align: center;
        font-size: 30px;
    }
}


@media screen and (max-width:636px){
    .Jesuis{
        text-align: center;

    }

    .Hello{
        text-align: center;
        margin-top: 10px;
    }

    .navprin{
        background-color: #FFFFFF;
        margin: 20px;
        height: 600px;
        padding: 5px;
        border-radius: 25px;
    }

    .Myphoto{
        margin-left: 200px;
    }

    .Developpeur{
        margin-top: 0px;
        text-align: center;
        font-size: 30px;
    }

    .Contact2{
        margin-left: 250px;
    }
}

@media screen and (max-width:620px){

    .Jesuis{
        text-align: center;

    }

    .Hello{
        text-align: center;
        margin-top: 10px;
    }

    .navprin{
        background-color: #FFFFFF;
        margin: 20px;
        height: 600px;
        padding: 5px;
        border-radius: 25px;
    }

    .Myphoto{
        margin-left: 170px;
    }

    .Developpeur{
        margin-top: 0px;
        text-align: center;
        font-size: 30px;
    }

    .Contact2{
        margin-left: 250px;
    }
}




@media screen and (max-width:618px){
    .Jesuis{
        text-align: center;
        font-size: 80px;
    }

    .Hello{
        text-align: center;
        margin-top: 5px;
    }

    .navprin{
        background-color: #FFFFFF;
        margin: 10px;
        height: 400px;
        padding: 5px;
    }

}

@media screen and (max-width:605px){
    
    .navprin{
        background-color: #FFFFFF;
        margin: 20px;
        height: 600px;
        padding: 10px;
        border-radius: 25px;
    }

    .Hello{
        margin-top: 10px;
    }

    .Myphoto{
        margin-left: 150px;
        top: 10px;
    }

    .Developpeur{
        margin-top: -10px;
    }
}


@media screen and (max-width:590px){
    .Jesuis{
        text-align: center;
    }
    .navprin{
        background-color: #FFFFFF;
        margin: 20px;
        height: 600px;
        padding: 10px;
        border-radius: 25px;
    }

    .Hello{
        margin-top: 10px;
    }

    .Myphoto{
        margin-left: 150px;
        top: 10px;
    }

    .Developpeur{
        margin-top: -10px;
    }

    .Contact2{
        margin-left: 2500px;
    }
}



@media screen and (max-width:592px){
    .Jesuis{
        font-size: 70px;
        text-align: center;
    } 

    .maphoto{
        margin-left: 160px;
    }

    .Developpeur{
        margin-left: 0px;
    }

    .Contact2{ 
        margin-left: 200px;
    }

    .uxframework{
        margin-left:40px ;
    }

    .frontback{
        margin-left: 40px;
    }


}

@media screen and (max-width:574px){
    .Jesuis{
        font-size: 70px;
        text-align: center;
    }
    .identity{
        width: 450px;
        height: 150px;
        margin-top: -30px;    
    }

    .Telecharger{
        margin-left: 400px;
    } 
    .huiux{
        margin: 20px;
        z-index: 100;
    }

    
    .uxframework{
        margin-left:25px ;
    }

    .frontback{
        margin-left: 25px;
    }
}

@media screen and (max-width:540px){
    #popup {
        position: fixed;
        top: 15%;

    }
}

@media screen and (max-width:548px){

    .Jesuis{
            font-size: 70px;
            text-align: center;
    }

    .Contact2{
        margin-left: 150px;
    }

    .Developpeur{
        margin-top: 20px;
    }

    .Myphoto{
        margin-top:-70px ;
        margin-left: 250px;
    }

    .identity{
        transform: translateX(40px);    
        width: 400px;
        height: 200px;
    }

    .front{
        padding: 15px;
        width: 400px;
    }
    .logojs{
        position: relative;
        width: 150px;
        height: 150px;
        margin-top: -360px;
        margin-left: 310px;
        top: -57px;
    }

    .back{
        padding: 5px;
        padding: 15px;
        width: 400px;
    }

    .ux{
        padding: 5px;
        padding: 15px;
        width: 400px;
    }

    .framework{
        padding: 5px;
        padding: 15px;
        width: 400px;
    }
    
    .pframe{

        position: initial;
        margin-top: -350px;
    }

    .frontback{
        margin-left: 60px;
    }

    .uxframework{
        margin-left: 60px;
    }

    .age{
        margin-left: 110px;
    }

    .Telecharger{
        margin-left: 340px;
    } 
}

@media screen and (max-width:526px){

    #popup {
        position: fixed;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 0px;
        border-radius: 5px;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        height: 300px;




        width: 400px;
    }

    #fermerButton {
        font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
        font-weight: bold;
        padding: 10px 30px;
        font-size: 16px;
        background-color: #152731;
        color: white;
        border-radius:10px ;
        cursor: pointer;
        margin-top: 20px;
        position: relative;



        left: 150px;

        top: 60px;
    }

    .Myphoto{
        margin-top:-70px ;
        margin-left: 100px;
    }

    .frontback{
        margin-left: 50px;
    }

    .uxframework{
        margin-left: 50px;
    }

    .maphoto{
        margin-left: 140px;
    }

    .Developpeur{
        margin-top:  -10px;
    }

    .Contact2{
        margin-left: 200px;
    }

}

@media screen and (max-width:492px){

    #popup {
        position: fixed;
        top: 15%;
        left: 45%;
        transform: translate(-50%, -50%);
        padding: 0px;
        border-radius: 5px;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        height: 300px;
        width: 400px;
    }


    .Jesuis{
        margin-left: 20px;
    }

    .Developpeur{
        text-align: center;
    }

    .Myphoto{
        
        margin-left: 100px;
    }

    .navprin{
        margin: 20px;
        height: 600px;
        border-radius: 30px;
        padding: 0px;
        background-color: #ffffff;
        border-radius: 50px;
        box-shadow: 5px 10px 30px rgb(168, 167, 167);
    }

    .Jesuis{
        margin-left: 0px;
    }

    .fullname{
        margin-left: 50px;
    }

    .identity{
        padding: 5px;
        transform: translateX(40px);   
        border-radius:20px;
    }

    .Telecharger{
        margin-left: 320px;
    } 

    .frontback{
        margin-left: 30px;
    }

    .uxframework{
        margin-left: 30px;
    }

    .firstname{
        position: relative;
        top: -40px;
    }
    
    .age{
        margin-left: 110px;
        position: relative;
        top: -40px;
    }
    
    .adresse{
        position: relative;
        top: -60px;
    }
    
    .experience{
        margin-left: 35px;
        position: relative;
        top: -60px;
    }
}


@media screen and (max-width:476px){
    .Jesuis{
        text-align: center;
    }

    .Myphoto{
        margin-left: 100px;
    }

    .Hello{
        margin-left: 40px;
    }

    .front{
        padding: 10px;
        width: 350px;
    }


    .back{
        padding: 10px;
        width: 350px;
    }

    .ux{
        padding: 10px;
        width: 350px;
    }

    .framework{
        padding: 10px;
        width: 350px;
    }

    .frontback{
        margin-left: 50px;
    }

    .uxframework{
        margin-left: 50px;
    }

    .Contact2{
        margin-left: 180px;
}
    
}


@media screen and (max-width:452px){

    #popup {
        position: fixed;
        top: 15%;
        left: 40%;
        transform: translate(-50%, -50%);
        padding: 0px;
        border-radius: 5px;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        height: 300px;
        width: 400px;
    }



    .Myphoto{
        margin-left: 100px;
    }



    .identity{
        transform: translateX(40px);    
        width: 350px;
        height: 200px;
    }

    .Telecharger{
        margin-left: 260px;
    } 

    .Developpeur{
        text-align: center;
        margin-left: 0px;
    }

    .age{
        margin-left: 80px;
        position: relative;
        top: -40px;
    }

    .postname{
        margin-left: 130px;
    }

    .Contact2{
            margin-left: 150px;
    }
}


@media screen and (max-width:424px){

    .mail{
        left: 50px;
    }

    .phone{
        left: 50px;
    }

    .what{
        left: 50px;
    }

    #popup {
        position: fixed;
        top: 15%;
        left: 40%;
        transform: translate(-50%, -50%);
        padding: 0px;
        border-radius: 5px;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        height: 300px;
        width: 350px;
    }

    #fermerButton{
        left: 80px;
    }

    .enveloppe{
        left: 30px;
    }

    .telephone{
        left: 30px;
    }

    .whatsapp{
        left: 30px;
    }

    .Myphoto{
        margin-left: 80px;
    }

}

@media screen and (max-width:428px){
    .mail{
        left: 50px;
    }

    .phone{
        left: 50px;
    }

    .what{
        left: 50px;
    }

    #popup {
        position: fixed;
        top: 15%;
        left: 40%;
        transform: translate(-50%, -50%);
        padding: 0px;
        border-radius: 5px;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        height: 300px;
        width: 350px;
    }

    #fermerButton{
        left: 80px;
    }

    .enveloppe{
        left: 30px;
    }

    .telephone{
        left: 30px;
    }

    .whatsapp{
        left: 30px;
    }

    .navprin{
        margin: 10px;
        padding: 10px;
    }

    .front{
        width: 380px;
    }

    .back{
        width: 380px;
    }

    .ux{
        width: 380px;
    }

    .framework{
        width: 380px;
    }
    .frontback{
        margin-left: 30px;
    }

    .uxframework{
        margin-left: 30px;
    }

    .maphoto{
        margin-left: 80px;
    }

    .Hello{
        margin-top: 10px;
    }
}

@media screen and (max-width:414px){

    .identity{
        transform: translateX(20px); 
    }

    .Telecharger{
        margin-left: 240px;
    }

    .fullname{
        margin-left: 20px;
    }

    .front{
        width: 350px;
    }

    .back{
        width: 350px;
    }

    .ux{
        width: 350px;
    }
    .framework{
        width: 350px;
    }

}

@media screen and (max-width:396px){

    .navprin{
        padding: 10px;
        height: 620px;
    }

    .Hello{
        text-align: left;
        margin-left: 80px;
    }

    .Jesuis{
        text-wrap: balance;
        text-align: center;
    }

    .Myphoto{
        margin-left: 50px;
    }

    .Developpeur{
        margin-top:  -50px;
    }

    .Contact2{
        margin-left: 120px;
    }


    .frontback{
        margin-left: 30px;
    }

    .uxframework{
        margin-left: 20px;
    }

    .fullname{
        
        margin-left: 20px;
    }
    
    .identity{
        transform: translateX(10px);    
    }

    .Telecharger{
        margin-left: 120px;
    } 

    .front{
        width: 320px;
    }

    .back{
        width: 320px;
    }

    .framework{
        width: 320px;
    }

    .ux{
        width: 320px;
    }
}

@media screen and (max-width:428px){
    .frontback{
        margin-left: 15px;
    }

    .uxframework{
        margin-left: 15px;
    }
}


@media screen and (max-width:390px){
    .mail{
        left: 50px;
    }

    .phone{
        left: 50px;
    }

    .what{
        left: 50px;
    }

    #popup {
        position: fixed;
        top: 15%;
        left: 40%;
        transform: translate(-50%, -50%);
        padding: 0px;
        border-radius: 5px;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        height: 300px;
        width: 350px;
    }

    #fermerButton{
        left: 80px;
    }

    .enveloppe{
        left: 30px;
    }

    .telephone{
        left: 30px;
    }

    .whatsapp{
        left: 30px;
    }

    .Myphoto{
        margin-left: 80px;
    }

}

@media screen and (max-width:428px){


    #popup {
        position: fixed;
        top: 15%;
        left: 38%;
        transform: translate(-50%, -50%);
        padding: 0px;
        border-radius: 5px;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        height: 300px;
        width: 350px;
    }

 
    .Jesuis{
        text-align: center;
    }
    .About{
        margin-top: 100px;
    }

    .fullname{
        margin-left: 20px;
    }

    .identity{
        transform: translateX(30px);    
        width: 300px;
        height: 250px;
    }

    .Telecharger{
        margin-left: 200px;
    } 


    .front{

        width: 300px;
    }

    .back{

        width: 300px;
    }

    .ux{

        width: 300px;
    }

    .framework{
        width: 300px;
    }

    .frontback{
        margin-left: 30px;
    }

    .uxframework{
        margin-left: 30px;
    }

    .logojs{
        position: relative;
        width: 150px;
        height: 150px;
        margin-top: -360px;
        margin-left: 310px;
        top: -210px;
    }

    .logocss{
        left: 10px;
        bottom:197px;
    }

    .pfront{
        bottom: 280px;
    }

    .logodjango{
        left: 10px;
        bottom: 200px;
    }

    .pback{
        bottom: 280px;
    }

    .logophotoshop{
        left: 40px;
        bottom: 180px;
    }

    .logoillustrator{
        bottom: 330px;

    }

    .pux{
        bottom: 380px;
    }

    .pframe{
        margin-top: -280px;
    }




    .Myphoto{
        margin-left: 50px;
    }


}



@media screen and (max-width:375px){
    
    .About{
        margin-top: 100px;
    }

    .fullname{
        margin-left: 20px;
    }

    .identity{
        transform: translateX(30px);    
        width: 300px;
        height: 250px;
    }

    .Telecharger{
        margin-left: 200px;
    } 


    .front{

        width: 300px;
    }

    .back{

        width: 300px;
    }

    .ux{

        width: 300px;
    }

    .framework{
        width: 300px;
    }

    .frontback{
        margin-left: 20px;
    }

    .uxframework{
        margin-left: 20px;
    }

    .logojs{
        position: relative;
        width: 150px;
        height: 150px;
        margin-top: -360px;
        margin-left: 310px;
        top: -210px;
    }

    .logocss{
        left: 10px;
        bottom:197px;
    }

    .pfront{
        bottom: 280px;
    }

    .logodjango{
        left: 10px;
        bottom: 200px;
    }

    .pback{
        bottom: 280px;
    }

    .logophotoshop{
        left: 40px;
        bottom: 180px;
    }

    .logoillustrator{
        bottom: 330px;

    }

    .pux{
        bottom: 380px;
    }

    .pframe{
        margin-top: -280px;
    }

    .Jesuis{
        text-align: center;
    }


    .Myphoto{
        margin-left: 50px;
    }
}


@media screen and (max-width:368px){

    #popup {
        position: fixed;
        top: 15%;
        left: 35%;
        transform: translate(-50%, -50%);
        padding: 0px;
        border-radius: 5px;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        height: 300px;
        width: 300px;
    }

    .fullname{
        margin-left: 20px;
    }

    .identity{
        transform: translateX(30px);    
        width: 300px;
        height: 250px;
    }

    .Telecharger{
        margin-left: 200px;
    } 


    .front{

        width: 300px;
    }

    .back{

        width: 300px;
    }

    .ux{

        width: 300px;
    }

    .framework{
        width: 300px;
    }

    .frontback{
        margin-left: 20px;
    }

    .uxframework{
        margin-left: 20px;
    }

    .logojs{
        position: relative;
        width: 150px;
        height: 150px;
        margin-top: -360px;
        margin-left: 310px;
        top: -210px;
    }

    .logocss{
        left: 10px;
        bottom:197px;
    }

    .pfront{
        bottom: 280px;
    }

    .logodjango{
        left: 10px;
        bottom: 200px;
    }

    .pback{
        bottom: 280px;
    }

    .logophotoshop{
        left: 40px;
        bottom: 180px;
    }

    .logoillustrator{
        bottom: 330px;

    }

    .pux{
        bottom: 380px;
    }

    .pframe{
        margin-top: -280px;
    }

    .Jesuis{
        text-align: center;
    }

    .About{
        margin-top: 100px;
    }

    .Myphoto{
        margin-left: 50px;
    }

}




@media screen and (max-width:320px){

    #popup {
        position: fixed;
        top: 15%;
        left: 33%;
        transform: translate(-50%, -50%);
        padding: 0px;
        border-radius: 5px;
        box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
        background-color: #ffffff;
        height: 300px;
        width: 300px;
    }

    .Purview{
        font-size: 40px;

        text-align: center;
    }

    .About{
        font-size: 40px;
    }

    .navprin{
        padding: 10px;
        height: 500px;
        border-radius: 30px;
    }

    .Developpeur{
        font-size: 20px;
    }
    .Jesuis{
        font-size: 50px;
    }
    .Myphoto{
        margin-left: 20px;
    }

    .Contact2{
        margin-left: 100px;
    }

    .maphoto{
        margin-left:30px ;
    }

    .identity{
        transform: translateX(10px);    
        width: 270px;
        height: 250px;
    }

    .Telecharger{
        margin-left: 80px;
    } 

    .postname{
        margin-left: 80px;
    }

    .age{
        margin-left: 20px;
    }

    .front{
        width: 250px;
    }

    .back{
        width: 250px;
    }

    .framework{
        width: 250px;
    }

    .ux{
        width: 250px;
    }
}


@media screen and (max-width:360px){
    .Developpeur{
        font-size: 20px;
    }
    .Jesuis{
        font-size: 50px;
    }

    
    .Purview{
        font-size: 40px;

        text-align: center;
    }

    .About{
        font-size: 40px;
    }

    
    .navprin{
        padding: 10px;
        height: 500px;
        border-radius: 30px;
    }

    .portfolio{
        font-size: 40px;
    }
}


@media screen and (max-width:375px){
    .Developpeur{
        font-size: 20px;
    }
    .Jesuis{
        font-size: 50px;
    }

    
    .Purview{
        font-size: 40px;

        text-align: center;
    }

    .About{
        font-size: 40px;
    }

    
    .navprin{
        padding: 10px;
        height: 500px;
        border-radius: 30px;
    }

    .portfolio{
        font-size: 40px;
    }
}



@media screen and (max-width:414px){
    .Developpeur{
        font-size: 20px;
    }
    .Jesuis{
        font-size: 50px;
    }

    
    .Purview{
        font-size: 40px;

        text-align: center;
    }

    .About{
        font-size: 40px;
    }

    
    .navprin{
        padding: 10px;
        height: 500px;
        border-radius: 30px;
    }

    .portfolio{
        font-size: 40px;
    }

    .Myphoto{
        margin-left: 50px;
    }

    .Developpeur{
        margin-top: -40px;
        margin-bottom: 30px;
    }

    .Contact2{
        margin-left: 130px;
        margin-top: 100px;
    }

}

@media screen and (max-width:298px){

    .navprin{
        height: 580px;
    }
    .Myphoto{
        margin-left: 10px;
    }

    .Contact2{
        margin-left: 80px;
    }
}


@media screen and (max-width:343px){

    .Myphoto{
        margin-left: 30px;
    }


    .Contact2{
        margin-left: 100px;
    }

    .maphoto{
        margin-left: 50px;
    }
    .identity{
        transform: translateX(15px);    
        width: 290px;
        height: 250px;
    }

    .Telecharger{
        margin-left: 170px;
    }
    
    .frontback{
        margin-left: 10px;
    }

    .uxframework{
        margin-left: 10px;
    }
}


@media screen and (max-width:414px){

    .menuformobile{
        left: 0%;
    }
}

@media screen and (max-width:375px){

    .menuformobile{
        width: 250px;
    }
}

@media screen and (max-width:390px){
    .menuformobile{
        width: 280px;
    }
}

@media screen and (max-width:375PX){
    .menuformobile{
        width: 270px;
    }
}

@media screen and (max-width:360px){

    .menuformobile{
        width: 250px;
    }
}

