body{
    padding: 0px;
    margin: 0px;
    background-color: #F9F9FA;
    color: black;
}

a{
    text-decoration: none;
}


.github{
    width: 20px;
    height: 20px;
    padding-left:0px ;
}

.linkedin{
    width: 20px;
    height: 20px;
}

.navprin{
    background-color: #FFFFFF;
    margin: 50px;
    height: 530px;
    padding: 30px;
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
}

li{
    list-style:none ;
}

nav ul li a{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-size: 20px;
    color: black;

}

nav ul li :hover{
    color:#099A68;
}


nav ul  {
    margin-left: 500px;
}
nav ul li {
    margin-left: 30px;
}

nav ul{
    display: flex;
}


.ligithub{
    transform: translate(-510px);
}



.lilinkedin{
    transform: translate(-410px);
    margin-left: -30px;
}

.Contact{
    color: #ffffff;
    background-color: #099A68;
    padding: 15px;
    border-radius: 10px;
}

.Contact:hover{
    color:#099A68;
    background-color: white;
    border-color: #099A68;
    border-width:3px ;
    border-style: solid;
}



.Hello{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-size: 30px;
    color: #099A68;
    margin-left: 50px;
    margin-top: 100px;
    animation: hello 0.3s;
}

.jesuisphoto{
    display: flex;
}

.Myphoto{
    position: relative;
    bottom: 50px;
    height: 450px;
    width: 450px;
    margin-left:200px;
    margin-top: -100px;
    animation: slidephoto 3s;
}

.Jesuis{
    color: #152731;
    font-size: 80px;
    margin-left: 50px;
    margin-top: -40px;
    animation: Jesuis 3s;
    
}

.Alain{
    color: #099A68;
}

.Developpeur{
    font-family: 'Calibri Light (Headings)', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    margin-top: -180px;
    margin-left: 50px;
    color: #152731;
    font-size: 30px;
    animation: Jesuis 3s;
}

.Contact2{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    margin-top: 100px;
    margin-left: 150px;
    color: white;
    background-color: #099A68;
    padding:15px ;
    border-radius:10px;
    animation: Jesuis 5s;

}

.Contact2:hover{
    box-shadow: 10px 10px 60px #099a67ab;
}


.About{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    color: #099A68;

}

.maphoto{
    width: 370px;
    height: 370px;
    margin-left: 50px;
}



.fullname{
    font-family: 'Calibri Light (Headings)', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    color: #152731;
    margin-left: 150px;

}

.nana{
    display: flex;

}

.identity{
    background-color: white;
    width: 560px;
    height: 180px;
    box-shadow:  5px 10px 30px rgb(168, 167, 167);
    border-radius: 40px;
    padding: 20px;
    transform: translateX(580px);
    margin-top: -130px;
    
}

.ident{
    display: flex;
    margin-left: 20px;
}

.name{
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
}

.postname{
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
    margin-left: 150px;
}

.firstname{
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
}

.age{
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
    margin-left: 130px;
}

.adresse{
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
}

.experience{
    font-family: 'Bahnschrift';
    font-weight: bold;
    font-size: 20px;
    margin-left: 35px;

}

.Katayi{
    color: #099A68;
}

.kayembe{
    color: #099A68;
}

.ans{
    color: #099A68;
}

.exp{
    color: #099A68;
}

.kinshasa{
    color: #099A68;
}

.alain{
    color: #099A68;
}

.Telecharger{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    text-decoration: none;
    background-color: #099A68;
    color: white;
    padding: 15px;
    border-radius: 10px;
    position: relative;
    top: 30px;
    margin-left: 1040px;

}

.Purview{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #099A68;
    font-size: 50px;
    margin: 80px;
   
}

.technology{
    text-align: center;
    font-size: 25px;
}

.frontback{
    display: flex;
    margin-left: 80px;


}

.front{
    padding: 30px;
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
}

.back{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    margin-left: 80px;
}

.hfront{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #152731;
    font-size: 30px;
}

.pfront{
    font-family: 'Calibri Light (Headings)', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    color: #585858;
    position: relative;
    bottom: 60px;
}

.logohtml{
    position: relative;
    left: -40px;
    bottom: 40px;
    width: 150px;
    height: 150px;
}

.logocss{
    position: relative;
    bottom: 40px;
    left: -150px;
    width: 150px;
    height: 150px;
}

.logojs{
    position: relative;
    left: -260px;
    bottom: 40px;
    width: 150px;
    height: 150px;
}

.hback{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #152731;
    position: relative;
    left: 20px;
    font-size: 30px;
}

.pback{
    font-family: 'Calibri Light (Headings)', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    color: #585858;
    position: relative;
    bottom: 60px;
}

.logopython{
    position: relative;
    left: -40px;
    bottom: 40px;
    height: 150px;
    width: 150px;

}

.logodjango{
    position: relative;
    left: -150px;
    bottom: 40px;
    height: 150px;
    width: 150px;


}


.uxframework{
    display: flex;
    margin-left: 80px;
    margin-top: 80px;
}


.ux{
    padding: 30px;
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    border-radius: 30px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
}


.framework{
    padding: 30px;
    background-color: rgb(255, 255, 255);
    width: 500px;
    height: 400px;
    border-radius: 30px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    margin-left: 80px;
}


.huiux{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #152731;
    font-size: 30px;

}

.pux{
    font-family: 'Calibri Light (Headings)', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    color: #585858;
    position: relative;
    bottom: 60px;
}


.logoxd{
    position: relative;
    left: -40px;
    bottom: 30px;
    width: 150px;
    height: 150px;
 
}

.logophotoshop{
    position: relative;
    left: -120px;
    bottom: 30px;
    width: 150px;
    height: 150px;

}

.logoillustrator{
    position: relative;
    left: -200px;
    bottom: 30px;
    width: 150px;
    height: 150px;

}

.hframework{    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #152731;
    font-size: 30px;
    position: relative;
    left: 20px;
}

.pframe{
    font-family: 'Calibri Light (Headings)', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva, Verdana, sans-serif';
    color: #585858;
    position: relative;
    bottom: 400px;
}

.logoboostrap{
    position: relative;
    left: -40px;
    bottom: 30px;
    width: 150px;
    height: 150px;
}

.portfolio{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    margin-left:90px;
    font-size: 50px;
    color: #099A68;
}

.alerte{
    width: 350px;
    height: 350px;
    position: relative;
    left: 500px;
}

.const{
    color: red;
    text-align: center;
}


.foot{
    background-color: #152731;
    padding: 20px;
}


.navigation{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: white;
    margin-left: 60px;
}

.link a{
    font-size: 20px;
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    color: rgb(167, 161, 161);
    margin-left: 60px;
    
    
}

.link a:hover{
    color: white;
}

.about{
    position: relative;
    top: 10px;
}

.mesrea{
    position: relative;
    top: 15px;
}

.cont{
    position: relative;
    top: 20px;
}

.skill{
    position: relative;
    top: 30px;
}


.suivez{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
    text-align: center;
}


.suivezmoi li:hover{
    background-color: rgba(255, 255, 255, 0.548);
    border-radius:10px;
}


.suivezmoi ul{
    display: flex;
    justify-content: center;
 

}

.facebooklogo{
    width: 30px;
    height: 30px;
    margin: 10px;

}
.twitterlogo{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.tiktoklogo{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.linkedinlogo{
    width: 30px;
    height: 30px;
    margin: 10px;

}

.copyrigth{
    text-align: center;
    color: rgb(112, 106, 106);
}


#overlay { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.877);
    display: none;
}


#popup {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    border-radius: 5px;
    box-shadow: 5px 5px 50px rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    height: 300px;
    width: 500px;
    display: none;
}

#popupContent {
    background-color: #007bff;
}

#fermerButton {
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    padding: 10px 30px;
    font-size: 16px;
    background-color: #152731;
    color: white;
    border-radius:10px ;
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    left: 200px;
    top: 60px;
}


.enveloppe{
    position: relative;
    left: 60px;
    width: 30px;
    height: 30px;
    top: 10px;
}

.telephone{
    position: relative;
    left: 60px;
    top: 30px;
    width: 30px;
    height: 30px;

}

.whatsapp{
    position: relative;
    left: 60px;
    top: 40px;
    width: 30px;
    height: 30px;
}


.contme{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    font-weight: bold;
    color: #152731;
    font-size: 30px;
    text-align: center;
}

.mail{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    text-decoration: none;
    color: #099A68;
    font-size: 20px;
    position: relative;
    left: 100px;
}

.phone{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    text-decoration: none;
    color: #099A68;
    font-size: 20px;
    position: relative;
    left: 100px;
    top: 20px;
}

.what{
    font-family: 'Arial Narrow', 'Franklin Gothic Medium', 'Arial Narrow', 'Arial', 'sans-serif';
    text-decoration: none;
    color: #099A68;
    font-size: 20px;
    position: relative;
    left: 100px;
    top: 30px;
}


/* espaces keyframes */

@keyframes slidephoto{
    from{
        transform: translateY(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes Jesuis{
    from{
        transform: translateX(200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes hello{
    from{
        transform: translateX(-200px);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slidehello{
    from{
        transform: translateY(-200);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        opacity: 2;
    }
}


/*@media screen  and (max-width:1292px) {
    .navprin{
        
        width: 1245px;
    }
}
@media screen  and (max-width:1272px) {
    .navprin{
        
        width: 1225px;
    }
}*/

@media screen and (max-width: 1290px) {
    .Myphoto{

        margin-left:100px;

    }


    .front{

        width: 450px;
        height: 400px;
    }
    
    .back{
        width: 450px;
        height: 400px;
    }

    .pfront{
        bottom: 200px;
    }


    .ux{

        width: 450px;
        height: 400px;

    }

    .pux{
        bottom: 230px;
    }
    
    
    .framework{

        width: 450px;
        height: 400px;

    }

    .logoillustrator{

        padding-left: 330px;
        bottom: 180px;

    
    }
    

}




@media screen and (max-width:1226px){
    nav ul  {
        margin-left: 400px;
    }

    .ligithub{
        transform: translate(-410px);
    }
    
    
    
    .lilinkedin{
        transform: translate(-310px);
        margin-left: -30px;
    }

    .fullname{
        margin-left: 100px;
    }

    .identity{
        transform: translateX(510px);

        
    }

    .Telecharger{

        margin-left: 970px;
    
    }
}

@media screen and (max-width:1190px){
    .Myphoto{
        width: 400px;
        height: 400px;
    }

    .Developpeur{
        margin-top: -120px;
    }
    .fullname{
        margin-left: 80px;
    }

    .identity{
        transform: translateX(500px);
    }

    .Telecharger{
        margin-left: 940px;
    }

    
    .back{

    margin-left: 50px;
    }

    
    .framework{

        margin-left: 50px;
    }

}


@media screen and (max-width:1140px){

    .Myphoto{
        width:350px ;
        height:350px ;
        top:30px ;
    }

    .Developpeur{
        margin-top: -80px;
    }

    .fullname{
        margin-left: 50px;
    }

    .identity{
        transform: translateX(460px);
    }


    .front{

        width: 400px;
        height: 350px;
    }
    
    .back{
        width: 400px;
        height: 350px;
    }

    .ux{

        width: 400px;
        height: 350px;

    }
    .framework{

        width: 400px;
        height: 350px;

    }

    
    .pfront{
        bottom: 250px;
    }
    .pux{
        bottom: 250px;
    }

    .pframe{
        bottom: 380px;
    }
    .pback{
        bottom: 95px;
    }

}


@media screen and (max-width:1122px){
    nav ul  {
        margin-left: 350px;
    }
    nav ul li {
        margin-left: 30px;
    }

    
    .ligithub{
        transform: translate(-370px);
    }
    
    
    
    .lilinkedin{
        transform: translate(-290px);
        margin-left: -30px;
    }

    .Telecharger{
        margin-left: 910px;
    }

}


@media screen  and (max-width:1082px){

}







@media screen and (max-width: 375px) {

    
        
    .navprin{
        background-color: #FFFFFF;
        width: 310px;
        height: 580px;
        margin-top: 40px;
        margin-left: 25px;
        margin-bottom: 0px;
        padding: 5px;
        border-radius: 50px;
        box-shadow: 5px 10px 30px rgb(168, 167, 167);
    }


    nav ul li a{
        display: none;
    
    }


}

#burger{
    display: none;
    width: 40px;
    height: 40px;
    margin-left:20px ;
}

.linkedin22{
    display: none;
    margin-left: 250px;
    margin-top: 10px;
    width: 40px;
    height: 40px;
}