body{
    padding: 0px;
    margin: 0px;
}

a{
    font-family: "Funnel Sans", sans-serif;
    text-decoration: none;
}


.section-1{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    padding: 50px;
    margin: 50px;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px;
}

.logo-linkedin2{
    height: 30px;
    height: 30px;
}

.logo-github2{
    height: 30px;
    width: 30px;
}

.nav-left a{
    margin: 10px;
    margin-left: 20px;
}

.nav-right a{
    margin: 10px;
    text-decoration: none;
    margin-right: 50px;
    color: black;
    font-size: 20px;
}

.contact-1 {
    background-color: #099A68;
    padding: 15px;
    border-radius: 10px;
    
}





.custom-h2{
    font-size: 40px;
    font-family: "Host Grotesk", sans-serif;
}

.custom-h1{
    font-size: 80px;
    font-family: "Rubik", sans-serif;

    color: #152731;
}

.custom-alain{
    color: #099A68;
    font-family:"Rubik", sans-serif ;
}


.maphoto-1{
    width: 50%;
    height: auto;
    margin-right: 90px;
}
.container{
    margin-top: 50px;

}

.div-photo-bonjour{
    display: flex;
    margin-left: 20px;
    margin-top: 30px;
}

.devel-1{
    font-size: 30px;
    margin-left: 20px;
}

.contact-2 {
    text-decoration: none;
    color: white;
    background-color: #099A68;
    padding: 15px;
    border-radius: 10px;
    margin-left: 100px;

}


.custom-apropos {
    font-size: 50px;
    color: #099A68;
    font-family:"Rubik", sans-serif  ;
}


.img-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.maphoto-2{
    width: 30%;
    height: auto;
}


.div-download{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.download-cv{
    text-decoration: none;
    text-align: center;
    background-color:#099A68;
    color: white;
    padding: 15px;
    border-radius: 10px;
    margin-top: 30px;
}

.custom-skills{
   color: #099A68;
   font-size: 50px;
   font-weight: bold;
   font-family:"Rubik", sans-serif ;
}


.custom-skills-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.Front{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    padding: 50px;
    margin-right: 80px;
}

.Front p{
    color: #585858;
}

.Back p{
    color: #585858;
}


.Back{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    padding: 50px;
    margin-left: 80px;
}


.svg{
    width: 30px;
    height: 30px;
}


.UI-UX{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    padding: 50px;
    margin-right: 80px;
}

.UI-UX p{
    color: #585858;
}


.Framework{
    background-color: rgb(255, 255, 255);
    border-radius: 50px;
    box-shadow: 5px 10px 30px rgb(168, 167, 167);
    padding: 50px;
    margin-left: 80px;
}

.Framework p{
    color: #585858;
}

.text-frame{
    color: #152731;
}

.custom-realisations{
    color: #099A68;
    font-family:"Rubik", sans-serif ;
    margin-top: 100px;
}

.custom-foot{
    background-color: #152731;
    padding: 10px;
    

}

.foot-foot{
    display: flex;
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.foot-foot p{
    margin-left: 150px;
}
.foot-foot p{
    margin-right: 150px;
    margin-top: 50px;
}


.foot-foot a{
    
    margin-left: 80px;
    color: white;
}
.foot-foot a{
    margin-right: 230px;
}

.foot-foot ul{
    margin-top: 30px;
}

.navigation{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.cont-me{
    color: white;
    font-size: 30px;
    font-weight: bold;
}

.fou a{
    text-decoration: none;
}

.four ul li a{
    text-decoration: none;
}

.four ul{
    list-style-type: none;
}

.four {
    color: #099A68;
}

.svgs{
    width: 20px;
    height: 20px;
}

.cc{
    color: white;
    text-align: center;
}

.custom-reseaux{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.custom-reseaux a{
    margin-left: 20px;
}

.custom-suivez{
    color: white;
    margin-top: 20px;
}

.custom-reseaux ul{
    display: flex;
}

.cus-cus{
    background-color: #099A68;
    padding: 20px;
}

.cus-cus a{
    text-decoration: none;
}
 .cus-cus ul li{
    text-align: center;
    list-style-type: none;
    margin: 30px;
 }

.cus-cus a{

    color: white;
}

























.menu-burger{
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top:20px;
}

.logo-linkedin{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.logo-github{
    width: 40px;
    height: 40px;
    margin-top: 20px;
}

.containe{
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(15, 15, 15);
    padding-bottom: 20px;

}

.logo-right{
    display: flex;
    gap: 15px;
    margin-right: 20px;
}


